/*Custom Styles*/
/*Main*/

body {
  background-color: #282e2b;
  color: #ffffff;
  font-family: "Roboto Mono", monospace;
}

.container {
  width: 60%;
  margin: 0 auto;
}

h1 {
  font-size: 42px;
  font-weight: 700;
  text-transform: capitalize;
  letter-spacing: 0;
  word-spacing: -10px;
  line-height: 1.5;
  text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.9);
}

.box {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
}
.box span {
  font-size: 28px;
  color: #ed4845;
  line-height: 1.5;
}

.box time {
  font-size: 28px;
  line-height: 1.5;
}
p {
  margin: 20px auto;
  line-height: 1.5;
}
